@import 'blocks/variables.scss';
@import 'blocks/header.scss';
@import 'blocks/fonts.scss';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-family:OpenSans;
    background:url('/res/images/bg01.png')
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
