@import 'blocks/variables.scss';
@import 'blocks/fonts.scss';
@import 'blocks/header.scss';
@import 'blocks/intro.scss';
@import 'blocks/cards.scss';
@import 'blocks/about.scss';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-family:OpenSans;
    background-color: $light-gray
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background:url('/res/images/bg01.png')
}
.container {
    width: 80%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:1em;
    display:flex;
    flex-wrap: wrap;
}
