extends ../templates/template
block append config
block intro 
    .container
        .intro
            .intro_left 
                h1.intro__title Hi.This is Lorem.
                p.intro__text Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            .intro_right
                .buttonLetsgo
                    a.buttonBlue(href='#') Ok let's go
                    img.letsgoImg(src="/res/icons/arrow.png", alt="let's go")
                .buttonMoreInfo
                    a.buttonInfo(href='#') More info
                    img.moreInfo(src="/res/icons/question.png", alt="more info")
block cards 
    .container
        .cards
            .cards__item
                .card__img
                    img(src='/res/images/pexels-despierres-cécile-298986.jpg', alt='Nature')
                    h3.card__title Put something here
                .card__text 
                    h5.card__titleText Maybe here as well I think
                    p.card__subText Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
            .cards__item
                .card__img
                    img(src='/res/images/pexels-stephan-seeber-1054201.jpg', alt='Mountain')
                    h3.card__title An interesting title
                .card__text 
                    h5.card__titleText This is also an interesting subtitle
                    p.card__subText Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
            .cards__item
                .card__img
                    img(src='/res/images/pexels-stefan-gabriel-naghi-912617.jpg', alt='Train')
                    h3.card__title Oh, and finally...
                .card__text 
                    h5.card__titleText Here's another intriguing subtitle
                    p.card__subText Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
block about
    .containtAbout
        .aboutStuff
            h3.aboutStuffTitle Interesting stuff 
            .aboutStuffImg 
                img(src='/res/images/pic04.jpg' alt='brown')
                img(src='/res/images/pic05.jpg' alt='pink')
                img(src='/res/images/pic06.jpg' alt='darkBlue')
                img(src='/res/images/pic07.jpg' alt='gray')
            .aboutStuffButton 
                img.moreImg(src="/res/icons/document.png", alt="more")
                a.more(href='#') More
        .aboutText
            h2.aboutTextTitle So what's this all about?
            p.card__subText Lorem Ipsum es simplemente el texto de relleno de las imprentas y arcivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconociso usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que también ingresó como texto de relleno en documentos electrónicos , quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenían pasajes de Lorem Ipsum, y más recientemente con software  de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
            .card__subText| Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.
            .buttonAbout
                img.continue(src="/res/icons/arrow.png", alt="continue")
                a.reading(href='#') Continue Reading