doctype html 
html
    block config
        include ../config/config
    head
        meta(charset="utf-8")
        block head 
            title= page_title + " | " + page 
            meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
            each link in css
                link(rel="stylesheet" href='styles/' + link)
    body 
        block header
            include ../blocks/header.pug    
