- var page_title = 'Home';
- var page = 'myLorem';

//--- CSS----
- var css = ['styles.css'];
- var pages = ['Welcome', 'Dropdown', 'Left Sidebar', 'Right Sidebar', 'No Sidebar']

//--- Dates ---
- var etiam = 'Etiam feugiat condimentum';
- var aliquam = 'Aliquam imperdiet suscipit odio';
- var sed = 'Sed porttior cras in erat nec';
- var felis = 'Felis varius pellentesque potenti';
- var nullam = 'Nullam scelerisque blandit leo';
- var address = '1234 Fictional Road';
- var city = 'Nashville, TN 00000';
- var phone = '(800) 555-0000';