.intro {
    max-width:100%;
    height:auto;
    border-radius: 4px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: $white;
    padding:2em;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);

    .intro_right {
        width: 60%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-right: 5em;

        .buttonLetsgo {
            background:$light-blue;
            border-radius: 4px;
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
            margin:10px;
            padding:6px;
            
            .buttonBlue {
                font-family: OpenSansBold;
                font-size: calc(0.7em + 1vw);
                text-decoration: none;
                margin:12px;
                color:$white;
            }
            .letsgoImg {
                width: 20px;
                height: px;
                margin-right: 12px;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                opacity: 0.7;
                transform: rotate(45deg);
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                }
            }
            
        }
        .buttonMoreInfo {
            background:$light-gray;
            border-radius: 4px;
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
            margin:10px;
            padding:6px;

            .buttonInfo {
                font-family:OpenSansBold;
                font-size: calc(0.7em + 1vw);
                text-decoration: none;
                margin:12px;
                color:$black;
            }
            .moreInfo {
                width: 20px;
                height: 20px;
                margin-right: 12px;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                opacity: 0.7;
                transform: rotate(-360deg);
                -webkit-filter:sepia(100%);
                filter:sepia(100%);
                }
            }
        }
    }
    .intro_left {
        padding-left: 5em;

        .intro__title {
            color:$black;
            font-family: OpenSansBold;
            font-size: calc(1em + 1vw);
        }
        .intro__text {
            align-items: center;
            font-size: 20px;
            padding-right:10em;
            text-decoration: none;
            font-size: calc(0.7em + 1vw);
        }
    }
    
}



