@font-face {
  font-family: OleoScriptBold;
  src: url("/res/fonts/OleoScript-Regular.ttf");
}
@font-face {
  font-family: OpenSansBold;
  src: url("/res/fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("/res/fonts/OpenSans-Regular.ttf");
}
.dn {
  display: none;
  opacity: 0;
}
.dn:checked ~ .menu {
  left: 0;
}
.dn:checked + label::before {
  content: "cerrar";
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1em;
  height: 5em;
}

.page__title {
  color: #f03e3e;
  font-family: OleoScriptBold;
  font-weight: 500;
}

.page_home {
  text-decoration: none;
  color: #fdfdfd;
  width: 30%;
}

.btn_menu {
  display: none;
  cursor: pointer;
  color: #fdfdfd;
}
.btn_menu::before {
  display: table;
  content: "";
}
@media screen and (max-width: 640px) {
  .btn_menu {
    display: block;
  }
}

.menu {
  display: flex;
  flex-direction: row;
}
.menu__item {
  padding: 0.2em 1em;
  margin: 0;
  color: #4f4d4d;
  font-weight: 900;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.5s;
  transition-timing-function: cubic-bezier(0.12, 0.62, 0.51, 0.9);
}
.menu__item:hover {
  color: #fdfdfd;
  background-color: #444343;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .menu {
    font-size: 10px;
  }
}
@media screen and (max-width: 450px) {
  .menu {
    font-size: 7px;
  }
}
.intro {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fdfdfd;
  padding: 2em;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}
.intro .intro_right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 5em;
}
.intro .intro_right .buttonLetsgo {
  background: #139cd6;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 6px;
}
.intro .intro_right .buttonLetsgo .buttonBlue {
  font-family: OpenSansBold;
  font-size: calc(0.7em + 1vw);
  text-decoration: none;
  margin: 12px;
  color: #fdfdfd;
}
.intro .intro_right .buttonLetsgo .letsgoImg {
  width: 20px;
  height: px;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.5s;
}
.intro .intro_right .buttonLetsgo .letsgoImg:hover {
  opacity: 0.7;
  transform: rotate(45deg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.intro .intro_right .buttonMoreInfo {
  background: #ebe6e6;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 6px;
}
.intro .intro_right .buttonMoreInfo .buttonInfo {
  font-family: OpenSansBold;
  font-size: calc(0.7em + 1vw);
  text-decoration: none;
  margin: 12px;
  color: #444343;
}
.intro .intro_right .buttonMoreInfo .moreInfo {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.5s;
}
.intro .intro_right .buttonMoreInfo .moreInfo:hover {
  opacity: 0.7;
  transform: rotate(-360deg);
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}
.intro .intro_left {
  padding-left: 5em;
}
.intro .intro_left .intro__title {
  color: #444343;
  font-family: OpenSansBold;
  font-size: calc(1em + 1vw);
}
.intro .intro_left .intro__text {
  align-items: center;
  padding-right: 10em;
  text-decoration: none;
  font-size: calc(0.7em + 1vw);
}

@media screen and (max-width: 800px) {
  .intro {
    padding: 1.5em;
  }
  .intro .intro_right {
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 4em;
  }
  .intro .intro_right .buttonLetsgo {
    flex-direction: column;
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro .intro_right .buttonLetsgo .buttonBlue {
    margin: 4px;
  }
  .intro .intro_right .buttonMoreInfo {
    flex-direction: column;
  }
  .intro .intro_right .buttonMoreInfo .buttonInfo {
    font-size: calc(0.7em + 1vw);
    margin-left: 4px;
    padding-left: 12px;
  }
  .intro .intro_right .buttonMoreInfo .moreInfo {
    width: 15px;
    height: 15px;
    margin-right: 2px;
  }
  .intro .intro_left {
    padding-left: 4em;
  }
  .intro .intro_left .intro__text {
    padding-right: 6em;
    font-size: calc(0.7em + 1vw);
  }
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  margin: 20px 0 20px;
}

.cards__item {
  background-color: #fdfdfd;
  margin: 6px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  position: relative;
}
.cards__item:hover .card__img {
  top: 50%;
  transform: translateY(-10%);
  transition: 0.5s ease-in-out;
}

.card__img img {
  width: 400px;
  height: 250px;
  border-radius: 4px;
}

.card__title {
  font-family: OpenSansBold;
  color: #fdfdfd;
  position: absolute;
  bottom: 150px;
  left: 16px;
  text-shadow: 2px 2px #444343;
}

.card__text {
  padding-left: 10px;
}

.card__titleText {
  color: #606060;
  font-family: OpenSansBold;
  margin-bottom: 14px;
}

.card__subText {
  font-size: 12px;
  color: #606060;
  line-height: 2em;
  padding-bottom: 28px;
}

@media screen and (max-width: 800px) {
  .cards {
    flex-direction: column;
  }
}
.containtAbout {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  height: 500px;
  padding: 40px;
  color: #444343;
}

.aboutStuff {
  width: 60vh;
}
.aboutStuff .aboutStuffTitle {
  font-family: OpenSansBold;
  margin-bottom: 18px;
  font-size: calc(0.7em + 1vw);
}
.aboutStuff .aboutStuffImg img {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4px;
  border-radius: 8px;
}
.aboutStuff .aboutStuffButton {
  width: 32%;
  background: #139cd6;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.aboutStuff .aboutStuffButton:hover {
  background-color: #606060;
  transition: 1.5s;
}
.aboutStuff .aboutStuffButton:hover .moreImg {
  opacity: 0.7;
  transform: rotateY(-360deg);
  transition: 2.5s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.aboutStuff .aboutStuffButton .moreImg {
  width: 18px;
  height: 18px;
  margin-left: 12px;
}
.aboutStuff .aboutStuffButton .more {
  font-family: OpenSansBold;
  text-decoration: none;
  font-size: 20px;
  margin: 12px;
  color: #fdfdfd;
}

.aboutText {
  width: 90vh;
  line-height: 1em;
}
.aboutText .aboutTextTitle {
  font-family: OpenSansBold;
  margin-bottom: 30px;
  font-size: calc(0.8em + 1vw);
}
.aboutText .buttonAbout {
  width: 40%;
  background: #139cd6;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  padding: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.aboutText .buttonAbout:hover {
  background-color: #606060;
  transition: 1.5s;
}
.aboutText .buttonAbout:hover .continue {
  opacity: 0.7;
  transform: rotateY(-360deg);
  transition: 2.5s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.aboutText .buttonAbout .continue {
  width: 20px;
  height: px;
  margin-left: 12px;
}
.aboutText .buttonAbout .reading {
  font-family: OpenSansBold;
  text-decoration: none;
  margin: 12px;
  color: #fdfdfd;
}

@media screen and (max-width: 800px) {
  .containtAbout {
    height: auto;
    padding: 40px;
  }

  .aboutStuff {
    width: 60vh;
    margin-right: 4px;
  }
  .aboutStuff .aboutStuffTitle {
    font-family: OpenSansBold;
    text-align: center;
  }
  .aboutStuff .aboutStuffImg img {
    padding: 2px;
  }
  .aboutStuff .aboutStuffButton {
    width: 70%;
    margin: 10px;
  }
  .aboutStuff .aboutStuffButton .more {
    font-size: 15px;
    margin: 10px;
  }

  .aboutText {
    width: 100vh;
  }
  .aboutText .aboutTextTitle {
    margin-bottom: 20px;
  }
  .aboutText .buttonAbout {
    width: 60%;
  }
}
.card__footer {
  display: flex;
  padding: 2em;
  color: #444343;
  align-content: center;
  margin-left: 8%;
}

.containerRandom {
  margin: 5px;
  padding: 16px;
}

.containerContact {
  padding-top: 20px;
  width: 100%;
}

.footer_title {
  font-family: OpenSansBold;
  margin-bottom: 16px;
}

.dates__item {
  font-size: 10px;
  color: #606060;
  line-height: 2em;
}

.icons {
  width: 30px;
  display: flex;
  flex-direction: row;
}

.icons img {
  margin: 4px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.containerCopyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyrightImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 3px;
}

@media screen and (max-width: 500px) {
  .card__footer {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-family: OpenSans;
  background-color: #ebe6e6;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("/res/images/bg01.png");
}

.container {
  width: 80%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}