header.header
    a.page_home(href='/'): h1.page__title #{page}
    input.dn(id='GPM' type='checkbox')
    label.btn_menu(for='GPM')
    nav#menu.menu
        each item in pages
                a.menu__item(href= item + '.html') #{item}