header.header
    h1.page__title #{page}
    nav.menu
        each item in pages
            if item === 'Welcome'
                a.menu__item('/') #{item}
            else
                a.menu__item(href= item + '.html') #{item}